html,
body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
}
.align-center {
  text-align: center;
}
.box > [class *= "pure-u"] {
  box-sizing: border-box;
  padding: 10px;
}
.clear:after {
  content: "";
  display: table;
  clear: both;
}
.left {
  float: left;
}
.pure-g [class *= "pure-u"] {
  color: #171a21;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.25em;
}
.right {
  float: right;
}
.container {
  max-width: 1140px;
  margin: 0 auto;
  text-align: center;
}
.hero {
  padding: 50px 0;
}
h1 {
  margin: 0;
  font-family: "Overpass", sans-serif;
}
