/* Palette
 * https://coolors.co/729ea1-5c5552-433633-f3dfc1-e94f37
 */
$cadet-blue: #729ea1;
$davys-grey: #5c5552;
$black-coffee: #433633;
$champagne: #f3dfc1;
$cinnabar: #e94f37;

.bg-cadet-blue {
    background-color: $cadet-blue;
}

.bg-davys-grey {
    background-color: $davys-grey;
}

.bg-black-coffee {
    background-color: $black-coffee;
}

.bg-champagne {
    background-color: $champagne;
}

.bg-cinnabar {
    background-color: $cinnabar;
}

.color-cadet-blue {
    color: $cadet-blue;
}

.color-davys-grey {
    color: $davys-grey;
}

.color-black-coffee {
    color: $black-coffee;
}

.color-champagne {
    color: $champagne;
}

.color-cinnabar {
    color: $cinnabar;
}
