@import "base"

//
// Containery stuff
//

.container
  max-width 1140px
  margin 0 auto
  text-align center

//
// Hero
//

.hero
  padding 50px 0

h1
  margin 0
  font-family "Overpass", sans-serif
